<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__receipt-list">
            <li class="main-header__receipt"><a href="/" class="<%= path === '/' ? 'active' : '' %>">Dashboard</a></li>
            <li class="main-header__receipt"><a href="/user/add-receipt" class="<%= path === '/user/add-receipt' ? 'active' : '' %>">Add Receipt</a></li>
        </ul>
    </nav>
</header>
