<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Receipt</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/receipt.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__receipt-list">
                <li class="main-header__receipt"><a href="/receipt">All Receipts</a></li>
                <li class="main-header__receipt"><a href="/receipt/add" class="active">Add Receipt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="receipt-form" action="/receipt/add" method="POST">
            <div class="form-control">
                <label>trip distance</label>
                <input type="text" name="trip-distance" id="trip-distance">
            </div>

            <div class="form-control">
                <label>volume</label>
                <input type="text" name="volume" id="volume">
            </div>

            <div class="form-control">
                <label>cost</label>
                <input type="text" name="cost" id="cost">
            </div>

            <button type="submit">send receipt</button>
        </form>
    </main>

</body>

</html>