<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Receipt</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__receipt-list">
                <li class="main-header__receipt"><a href="/dashboard" class="active">Dashboard</a></li>
                <li class="main-header__receipt"><a href="/receipt/add">Add Receipt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>All receipts</h1>
        <p>List off all the products..</p>
    </main>

</body>

</html>