<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main id="add-receipt">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <form action="add-receipt" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Trip Distance</label>
                            <input type="number" step="0.1" name="tripDistance" id="tripDistance" required="yes" pattern="^[0-9]*$" autocomplete="off" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Alleen nummers zijn toegestaan.')" class="form-control" aria-describedby="emailHelp" placeholder="In km.">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Volume</label>
                            <input type="number" step="0.01" name="totalLiters" id="totalLiters" required="yes" pattern="^[0-9]*$" autocomplete="off" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Alleen nummers zijn toegestaan.')" class="form-control" placeholder="In l.">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Price/Unit</label>
                            <input type="number" step="0.001" name="pricePerLiter" id="pricePerLiter" required="yes" pattern="^[0-9]*$" autocomplete="off" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Alleen nummers zijn toegestaan.')" class="form-control" placeholder="In €">
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

<%- include('../includes/end.ejs') %>